.file-list, .file-list ul{
    list-style-type: none;
    font-size:16px;
    line-height:1.8em;
    margin-left:20px;
    padding-left:18px;
    border-left:1px dotted #aaa;
}
.file-list li{
    position: relative;
    padding-left:30px;
}
.file-list li a{
    text-decoration: none;
    color:#444;  
}
.file-list li a:before{
    display:block;
    content: " ";
    width:10px;
    height:1px;
    position:absolute;
    border-bottom:1px dotted #aaa;
    top:.6em;
    left:-14px;
}
.file-list li div{
    text-decoration: none;
    color:#444;  
}

body.dark-only .file-list li div{
    text-decoration: none;
    color:#fff;  
}

.file-list li div:before{
    display:block;
    content: " ";
    width:10px;
    height:1px;
    position:absolute;
    border-bottom:1px dotted #aaa;
    top:.6em;
    left:-14px;
}
.file-list li:before{
    list-style-type: none;
    font-family: FontAwesome;
    display:block;
    content:'\f0f6';
    position:absolute;
    top:0px;
    left:0px;
    width:20px;
    height:20px;
    font-size:1.3em;
    color:#555;
}

body.dark-only .file-list li:before{
    list-style-type: none;
    font-family: FontAwesome;
    display:block;
    content:'\f0f6';
    position:absolute;
    top:0px;
    left:0px;
    width:20px;
    height:20px;
    font-size:1.3em;
    color:#98a6ad;
}

.file-list .folder-root{
    list-style-type: none;
}
.file-list .folder-root a{
    text-decoration:none;
}
body.dark-only .file-list .folder-root a {
    text-decoration: none;
    color: white;
}
.file-list .folder-root:before {
    color: #001A15 ;
    content: "\f07b";
}

body.dark-only .file-list .folder-root:before {
    color: #98a6ad;
    content: "\f07b";
}

.file-list .folder-root.open:before{
    content: "\f07c";
}

body.dark-only .file-list .folder-root.open:before{
    content: "\f07c";
}

li.folder-root ul{
    transition: all .3s ease-in-out;
    overflow:hidden;
}
li.folder-root.closed>ul{
   opacity:0;
   max-height:0px;
}
li.folder-root.open>ul{
   opacity:1;
   display:block;
   max-height:1000px;
}

